/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-height-dialog .mat-dialog-container {
    padding: 0;
    height: 100vh;
    overflow: hidden;
    border-radius: 0; 
    width: 1080px !important;
}

.snackbar {
    font-size: 18px;
    padding: 20px;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
  }